# exclude compiled binaries and external models
/bin
/results
# exclude data from source control by default
#/data
/data/workingData/archive
/data/workingData/archive_2
.Rproj.user
/results
/scr/archive
archive/
*.html
*.pdf
*.tiff
